<html>

<head>

<title>Python业余学习</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />

<link rel="stylesheet" type="text/css" media="screen" href="/static/css/screen.css" />
<link rel="shortcut icon" href="/static/images/python.ico">

</head>
<body>

	<!-- header starts-->
	<div id="header-wrap"><div id="header" class="container_16">						
		
		<h1 id="logo-text"><a href="index.html" title="">Keep It Simple</a></h1>
		<p id="intro">Life is short, you need Python...</p>
		
		<!-- navigation -->
		<div  id="nav">
			<ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/readings">Reading</a></li>
          <li><a href="#">GuestBook</a></li>
		  <li id="current"><a href="/about">About</a></li>	
			</ul>		
		</div>		
		
		<div id="header-image"></div> 		
		
		<form id="quick-search" action="index.html" method="get" >
			<p>
			<label for="qsearch">Search:</label>
			<input class="tbox" id="qsearch" type="text" name="qsearch" placeholder="Search..." title="Start typing and hit ENTER" />
			<input class="btn" alt="Search" type="image" name="searchsubmit" title="Search" src="/static/images/search.gif" />
			</p>
		</form>					
	
	<!-- header ends here -->
	</div></div>
	
	<!-- content starts -->
	<div id="content-outer"><div id="content-wrapper" class="container_16">
	
		<!-- main -->
		<div id="main" class="grid_12">
				
			<article>
				Beautiful is better than ugly.<br>
				Explicit is better than implicit.<br>
				Simple is better than complex.<br>
				Complex is better than complicated.<br>
				Flat is better than nested.<br>
				Sparse is better than dense.<br>
				Readability counts.<br>
				Special cases aren't special enough to break the rules.<br>
				Although practicality beats purity.<br>
				Errors should never pass silently.<br>
				Unless explicitly silenced.<br>
				In the face of ambiguity, refuse the temptation to guess.<br>
				There should be one-- and preferably only one --obvious way to do it.<br>
				Although that way may not be obvious at first unless you're Dutch.<br>
				Now is better than never.<br>
				Although never is often better than *right* now.<br>
				If the implementation is hard to explain, it's a bad idea.<br>
				If the implementation is easy to explain, it may be a good idea.<br>
				Namespaces are one honking great idea -- let's do more of those!<br><br>
									-- The Zen of Python
			</article>
		<!-- main ends -->
		</div>
		
		<!-- left-columns starts -->
		<div id="left-columns" class="grid_4">
		
			<div class="grid_4 alpha">
			
				<div class="sidemenu">	
					<h3>Sidebar Menu</h3>
					<ul>				
						<li><a href="/">Blog</a></li>
						<li><a href="/readings">Reading</a></li>
						<li><a href="/guestbooks">GuestBook</a></li>
						<li><a href="/about">About</a></li>
					</ul>	
				</div>
				
				<div class="sidemenu">
					<h3>Tags</h3>
					<ul>
						<li><a href="/blogs?tag=Python">Python</a></li>
						<li><a href="/blogs?tag=Pythoncodes">Python codes</a></li>					
						<li><a href="/blogs?tag=Lang">Lang</a></li>
						<li><a href="/blogs?tag=MySQL">MySQL</a></li>	
						<li><a href="/blogs?tag=Life">Life</a></li>	
						<li><a href="/blogs?tag=Others">Others</a></li>	
					</ul>
				</div>
			
					
		
			</div>
		
		<!-- end left-columns -->
		</div>		
	
	<!-- contents end here -->	
	</div></div>

	<!-- footer starts here -->	
	<div id="footer-wrapper" class="container_16">
	
		
		</div>
	
		<div id="footer-bottom">
	
			<p class="bottom-left">			
			&nbsp; &copy;2013 zhuf &nbsp; &nbsp;

			</p>	
			
			
	
		</div>	
			
	</div>
	<!-- footer ends here -->

</body>
</html>
